site/
.venv/
__pycache__/
*.iml
.superpowers/
/.cache/plugin/social/assets/images/social/documentation/button-reference.png
/.cache/plugin/social/assets/images/social/documentation/changelog.png
/.cache/plugin/social/assets/images/social/documentation/coverage.png
/.cache/plugin/social/assets/images/social/documentation/credits.png
/.cache/plugin/social/assets/images/social/documentation/customization.png
/.cache/plugin/social/assets/images/social/documentation/directory-structure.png
/.cache/plugin/social/assets/images/social/documentation/faq.png
/.cache/plugin/social/assets/images/social/documentation/features.png
/.cache/plugin/social/assets/images/social/documentation/getting-started.png
/.cache/plugin/social/assets/images/social/documentation/index.png
/.cache/plugin/social/assets/images/social/documentation/library.png
/.cache/plugin/social/assets/images/social/documentation/license.png
/.cache/plugin/social/assets/images/social/documentation/nonnas-kitchen.png
/.cache/plugin/social/assets/images/social/documentation/platforms.png
/.cache/plugin/social/assets/images/social/documentation/playing-games.png
/.cache/plugin/social/assets/images/social/documentation/retroachievements.png
/.cache/plugin/social/assets/images/social/documentation/retroarch.png
/.cache/plugin/social/assets/images/social/documentation/ricotta.png
/.cache/plugin/social/assets/images/social/documentation/romm.png
/.cache/plugin/social/assets/images/social/documentation/settings.png
/.cache/plugin/social/assets/images/social/index.png
/.cache/plugin/social/fonts/MPlus1c-NerdFont/Bold.ttf
/.cache/plugin/social/fonts/MPlus1c-NerdFont/Regular.ttf
/.cache/plugin/social/manifest.json
/.envrc
